* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #270a05;
  font-weight: 700;
  font-size: 17px;
}
li {
  list-style: none;
}
i {
  font-size: 35px;
}
.main-menu ul li {
  display: inline-block;
  padding: 40px 0 0 28px;
}
.main-menu ul li a:hover {
  color: #86371c;
}
.logo {
  padding: 20px;
}
.menu-icon {
  padding-top: 15px;
}
.menu-icon ul li {
  display: inline-block;
  padding: 20px 24px 15px 0;
}
.menu-icon ul li a {
  color: inherit;
}
.menu-icon ul li a:hover {
  color: #86371c;
}
.noti-wrap {
  position: relative;
}
.noti-count {
  position: absolute;
  height: 22px;
  width: 22px;
  background: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  top: 15px;
  right: 18px;
}
.cart-wrap {
  position: relative;
}
.cart-count {
  position: absolute;
  height: 22px;
  width: 22px;
  background: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  top: 10px;
  right: 17px;
}
.user {
  padding-top: 25px;
}
.user a {
  color: inherit;
}
.user a:hover {
  color: #86371c;
}
.header-area {
  border-bottom: 1px solid black;
}
/* banner-area starts */
.svg-1 {
  position: absolute;
  top: 430px;
  right: 0;
  z-index: -1;
  opacity: 0.1;
}
.svg-2 {
  position: absolute;
  left: 0;
  top: 165px;
  z-index: -1;
}
.banner-small h6 {
  color: #270a05;
  font-family: Lemonada;
  font-size: 16px;
  font-style: normal;
  font-weight: 575;
  line-height: 26px;
  letter-spacing: 0.16px;
}
.banner-head h1 {
  color: #270a05;
  font-family: "Bakilda Histori";
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 124px;
  letter-spacing: 1.1px;
}
.banner-slogan h3 {
  color: #270a05;
  font-family: "Bakilda Histori";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.banner-para p {
  color: #270a05;
  font-family: "Value Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.16px;
}
.brown-btn {
  color: white;
  background: #86371c;
  padding: 18px 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #86371c;
}
.brown-btn:hover {
  background: transparent;
  color: #86371c;
  border: 1px solid #86371c;
}
.coffe {
  display: inline-flex;
  position: relative;
  padding-left: 35px;
  width: 200px;
}
.coffe-mug {
  position: absolute;
  transform: translateX(45px);
}
.coffe-mug2 {
  position: absolute;
  transform: translateX(90px);
}
.coffe-variant {
  display: inline-block;
}
.coffe-variant h4 {
  color: var(--Secondary, #270a05);
  font-family: "Abril Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.24px;
}
.coffe-variant h5 {
  color: #270a05;
  font-family: "Value Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.14px;
}
/* contact-area starts */
/* section */
.section-title h2 {
  color: #270a05;
  font-family: "Bakilda Histori";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 136.364% */
}
.section-title h5 {
  color: #86371c;
  font-family: Lemonada;
  font-size: 16px;
  font-style: normal;
  font-weight: 380;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
  margin: auto;
}
.section-title p {
  color: #270a05;
  font-family: "Value Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.16px;
}
/* section */
.contact-area {
  background: #fffaf2;
  height: 250px;
}
.contact-time {
  border-right: 1px solid rgb(199, 195, 195);
}
.contact-location {
  border-right: 1px solid rgb(199, 195, 195);
}
.play-video {
  border-radius: 0px 0px 12px 12px;
  color: white;
  background: #86371c;
  width: 319px;
  height: 326px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}
.play-text {
  display: inline-block;
}
.play-icon {
  display: inline-block;
}
.play-icon a {
  color: inherit;
}
.play-icon a:hover {
  color: #270a05;
}
.play-wrap {
  padding-top: 240px;
  position: relative;
}
.play-arrow-img {
  position: absolute;
  top: 60px;
}
/* about-area starts */
.about-area {
  margin-top: 200px;
}
.about-card-text {
  border: 1.5px solid #86371c;
  border-radius: 10px;
  width: 203px;
  height: 134px;
}
.about-card-text p {
  font-weight: 600;
  color: #86371c;
}
.about-card-text h1 {
  font-weight: 700;
  color: #270a05;
}
.about-card-text-rotate p {
  font-weight: 600;
  color: #86371c;
}
.about-card-text-rotate h1 {
  font-weight: 700;
  color: #270a05;
}
.about-card-text-rotate {
  border: 1.5px solid #86371c;
  border-radius: 10px;
  width: 203px;
  height: 134px;
  transform: rotate(3.686deg);
}
.about-btn {
  display: inline-flex;
  padding: 18px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1.5px solid #86371c;
  color: #86371c;
  font-weight: 600;
  background: #fff;
}
.about-btn:hover {
  background: #86371c;
  color: #fff;
  font-weight: 600;
}
.about-img-pattern {
  width: 500px;
  height: 495px;
  border-radius: 500px 500px 30px 30px;
  border: 2px solid rgb(199, 198, 198);
  position: relative;
}
.about-img-pattern img {
  position: absolute;
  right: 3%;
  bottom: 2%;
}
.svg-last {
  position: absolute;
  top: 1048px;
  right: 0;
  z-index: -1;
}
/* menu-area starts*/
.menu-area {
  margin-top: 150px;
}
.menu-wrap {
  /* width: 640px;
  height: 135px; */
  border: 1px solid #86371c;
  border-radius: 20px;
  margin: 20px 0;
  padding: 10px 0;
  position: relative;
}
.menu-img {
  display: inline-block;
  border: 2px dashed black;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  left: 4%;
  top: 21%;
}
.menu-price h3 {
  display: inline-block;
  display: inline-flex;
  height: 55px;
  width: 56px;
  background: #86371c;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-price h4 {
  font-weight: 600;
  font-size: 28px;
  display: inline-flex;
  height: 55px;
  width: 56px;
  background: rgb(171, 170, 170);
  color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-price {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px dashed black;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
.menu-btn button {
  background: #fff;
  padding: 18px 30px;
  gap: 10px;
  border-radius: 12px;
  border: 1.5px solid #86371c;
  color: #86371c;
  font-weight: 700;
}
.menu-btn button:hover {
  color: #fff;
  background: #86371c;
}
/* new-recipes */
.recipes-area {
  background: #fffaf2;
  margin-top: 100px;
  padding: 80px 0;
}
.btn-carousel {
  display: inline-block;
  height: 57px;
  width: 57px;
  border: 2px solid #270a05;
  border-radius: 50%;
  text-align: center;
}
.btn-carousel i {
  padding-top: 8px;
  color: #270a05;
}
.carousel-arrow a:hover {
  transform: scale(1.2);
}
/* showcase-area starts */
.showcase-area {
  margin: 100px 0;
}
.showcase-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.showcase-menu ul li {
  display: inline-flex;
  padding: 0 30px;
}
.showcase-menu ul li a {
  padding: 4px 7px;
  border: 1px solid transparent;
}
.showcase-menu ul li a:hover {
  border-radius: 50px;
  border: 1px solid #86371c;
  background: rgba(134, 55, 28, 0.03);
  color: #86371c;
}
/* footer-area starts */
.footer-area {
  background-image: url(/Assets/Image/fBackground.png);
  max-width: 100%;
}
.footer-logo {
  padding-top: 20px;
}
.footer-menu ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-menu a {
  color: #fff;
  font-weight: 600;
  padding: 28px;
}
.footer-icon {
  padding-top: 26px;
}
.btn-hidden {
  display: none;
}
@media screen and (max-width: 600px) {
  i {
    font-size: 14px;
  }
  .main-menu {
    display: none;
  }
  .section-title h2 {
    color: #270a05;
    font-family: "Bakilda Histori";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }
  body {
  }
  /* navba-area starts */
  .noti-count {
    position: absolute;
    height: 8px;
    width: 8px;
    background: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    top: 8%;
    right: 52%;
  }
  .cart-count {
    position: absolute;
    height: 8px;
    width: 8px;
    background: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    top: 11%;
    right: 45%;
  }
  .user span {
    font-size: 7px;
  }
  .logo {
    padding: 0px;
  }
  .menu-icon {
    padding: 0;
  }
  .menu-icon ul li {
    display: inline-block;
    padding: 0 20px 0 0;
  }
  .menu-icon ul li a {
    padding: 0 1px 0 1px;
  }
  .user {
    padding: 0;
  }
  /* banner-area starts */
  .banner-slogan h3 {
    color: #270a05;
    font-family: "Bakilda Histori";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }
  .banner-head h1 {
    color: #270a05;
    font-family: "Bakilda Histori";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.1px;
  }
  .main-menu nav ul {
    order: 1;
  }
  .main-menu nav ul li {
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid #fff;
  }
  .main-menu nav ul li:hover {
    background: #fff;
    color: #86371c;
    border: 2px solid #86371c;
    border-radius: 13px;
  }
  .banner-img img {
    max-width: 100%;
  }
  .coffe-variant {
    display: inline-block;
    margin-left: 50px;
  }
  /* contact-area starts */
  .contact-area {
    padding-bottom: 500px;
  }
  .play-video {
    text-align: center;
  }
  .contact-time {
    max-width: 100%;
    text-align: center;
    border-right: none;
  }
  .btn-hidden:hover {
    background: #86371c;
    color: #fff;
    font-weight: 600;
  }
  .booking-contact {
  }
  /* about-area starts */
  .about-card-text {
    max-width: 100%;
    height: 80%;
  }
  .about-card-text-rotate {
    max-width: 100%;
    height: 100%;
  }
  .about-img-pattern {
    width: 476px;
    max-width: 100%;
    height: 194px;
    border-radius: 500px 500px 30px 30px;
    border: 2px solid rgb(199, 198, 198);
    position: relative;
  }
  .about-img-pattern img {
    max-width: 90%;
    position: absolute;
    left: 5%;
    bottom: 0;
  }
  .svg-1 {
    position: absolute;
    top: 1400px;
    right: 0;
    z-index: 1;
    opacity: 0.1;
  }
  .svg-last {
    position: absolute;
    top: 2920px;
    right: 0;
    z-index: -1;
    padding: 2px;
  }
  /* menu-area starts */
  .menu-wrap {
    max-width: 100%;
  }
  .menu-img img {
    max-width: 90%;
    opacity: 0.9;
  }
  /* recipes-area starts */
  .carousel-arrow {
    margin-left: 30%;
    margin-bottom: 30px;
  }
  .btn-carousel i {
    padding: 14px;
    font-size: 27px;
    color: #270a05;
  }
  /* showcase-area starts */
  .showcase-menu {
    margin-bottom: 30px;
  }
  .showcase-menu ul li {
    padding: 0px;
  }
  .showcase-img img {
    max-width: 90%;
    /* padding: 10px; */
  }
  /* footer-area starts */
  .footer-menu {
    padding-left: 7px;
    padding-top: 20px;
  }
  .footer-menu ul li {
    padding: 5px;
  }
  .footer-menu ul li a:hover {
    display: inline-block;
    background: #fff;
    color: #270a05;
    border-radius: 40%;
  }
  .footer-menu a {
    padding: 2px 7px 2px 7px;
  }
  .footer-area {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .main-menu ul li {
    display: inline-block;
    padding: 29px 0px 0 6px;
  }
  .about-img-pattern {
    width: 500px;
    height: 495px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 500px 500px 30px 30px;
    border: 2px solid rgb(199, 198, 198);
    position: relative;
  }
  .about-card-text {
    border: 1.5px solid #86371c;
    border-radius: 10px;
    width: 203px;
    max-width: 100%;
    height: 104px;
    max-height: 100%;
  }
  .about-card-text-rotate {
    border: 1.5px solid #86371c;
    border-radius: 10px;
    width: 203px;
    max-width: 100%;
    height: 104px;
    max-height: 100%;
    transform: rotate(3.686deg);
  }
  .showcase-menu ul li {
    display: inline-flex;
    padding: 0px 24px;
  }
  .footer-menu a {
    color: #fff;
    font-weight: 600;
    padding: 21px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    padding: 3px;
  }
  .main-menu ul li {
    display: inline-block;
    padding: 10px 16px 0 16px;
  }
  .menu-icon ul li {
    display: inline-block;
    padding: 20px 12px 15px 0;
  }
  .showcase-menu ul li {
    display: inline-flex;
    padding: 0px 9px;
  }
  .footer-menu a {
    color: #fff;
    font-weight: 600;
    /* padding: 7px; */
    padding: 32px 3px 0 2px;
  }
  .about-img-pattern {
    width: 476px;
    max-width: 100%;
    height: 352px;
    border-radius: 500px 500px 30px 30px;
    border: 2px solid rgb(199, 198, 198);
    position: relative;
  }
  .about-img-pattern img {
    position: absolute;
    right: 0%;
    bottom: 2%;
  }
  .about-card-text {
    border: 1.5px solid #86371c;
    border-radius: 10px;
    width: 203px;
    max-width: 100%;
    height: 106px;
  }
  .about-card-text-rotate {
    border: 1.5px solid #86371c;
    border-radius: 10px;
    width: 203px;
    max-width: 100%;
    height: 106px;
    transform: rotate(3.686deg);
  }
}
