a {
  text-decoration: none;
  color: #270a05;
  font-weight: 700;
  font-size: 17px;
}
li {
  list-style: none;
}
i {
  font-size: 35px;
}
.main-menu ul li {
  display: inline-block;
  padding: 40px 0 0 28px;
}
.main-menu ul li a:hover {
  color: #86371c;
}
.logo {
  padding: 20px;
}
.menu-icon {
  padding-top: 15px;
}
.menu-icon ul li {
  display: inline-block;
  padding: 20px 24px 15px 0;
}
.menu-icon ul li a {
  color: inherit;
}
.menu-icon ul li a:hover {
  color: #86371c;
}
.noti-wrap {
  position: relative;
}
.noti-count {
  position: absolute;
  height: 22px;
  width: 22px;
  background: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  top: 15px;
  right: 18px;
}
.cart-wrap {
  position: relative;
}
.cart-count {
  position: absolute;
  height: 22px;
  width: 22px;
  background: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  top: 10px;
  right: 17px;
}
.user {
  padding-top: 25px;
}
.user a {
  color: inherit;
}
.user a:hover {
  color: #86371c;
}
.header-area {
  height: 110px;
  border-bottom: 1px solid black;
}
/* banner-area starts */
.svg-1 {
  position: absolute;
  top: 430px;
  right: 0;
  z-index: -1;
  opacity: 0.1;
}
.svg-2 {
  position: absolute;
  left: 0;
  top: 165px;
}
.banner-small h6 {
  color: #270a05;
  font-family: Lemonada;
  font-size: 16px;
  font-style: normal;
  font-weight: 575;
  line-height: 26px;
  letter-spacing: 0.16px;
}
.banner-head h1 {
  color: #270a05;
  font-family: "Bakilda Histori";
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 124px;
  letter-spacing: 1.1px;
}
.banner-slogan h3 {
  color: #270a05;
  font-family: "Bakilda Histori";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.banner-para p {
  color: #270a05;
  font-family: "Value Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.16px;
}
.brown-btn {
  color: white;
  background: #86371c;
  padding: 18px 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #86371c;
}
.brown-btn:hover {
  background: #fff;
  color: #86371c;
  border: 1px solid #86371c;
}
.coffe {
  display: inline-flex;
  position: relative;
  padding-left: 35px;
  width: 200px;
}
.coffe-mug {
  position: absolute;
  transform: translateX(45px);
}
.coffe-mug2 {
  position: absolute;
  transform: translateX(90px);
}
.coffe-variant {
  display: inline-block;
}
.coffe-variant h4 {
  color: var(--Secondary, #270a05);
  font-family: "Abril Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.24px;
}
.coffe-variant h5 {
  color: #270a05;
  font-family: "Value Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.14px;
}
/* contact-area starts */
/* section */
.section-title h2 {
  color: #270a05;
  font-family: "Bakilda Histori";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 136.364% */
}
.section-title h5 {
  color: #86371c;
  font-family: Lemonada;
  font-size: 16px;
  font-style: normal;
  font-weight: 380;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
  width: 646px;
  margin: auto;
}
.section-title p {
  color: #270a05;
  font-family: "Value Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.16px;
}
/* section */
.contact-area {
  background: #fffaf2;
  height: 250px;
}
.contact-time {
  border-right: 1px solid rgb(199, 195, 195);
}
.contact-location {
  border-right: 1px solid rgb(199, 195, 195);
}
.play-video {
  border-radius: 0px 0px 12px 12px;
  color: white;
  background: #86371c;
  width: 319px;
  height: 326px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}
.play-text {
  display: inline-block;
}
.play-icon {
  display: inline-block;
}
.play-icon a {
  color: inherit;
}
.play-wrap {
  padding-top: 240px;
}
/* about-area starts */
.about-area {
  margin-top: 200px;
}
.about-card-text {
  border: 1.5px solid #86371c;
  border-radius: 10px;
  width: 203px;
  height: 134px;
}
.about-card-text p {
  font-weight: 600;
  color: #86371c;
}
.about-card-text h1 {
  font-weight: 700;
  color: #270a05;
}
.about-card-text-rotate p {
  font-weight: 600;
  color: #86371c;
}
.about-card-text-rotate h1 {
  font-weight: 700;
  color: #270a05;
}
.about-card-text-rotate {
  border: 1.5px solid #86371c;
  border-radius: 10px;
  width: 203px;
  height: 134px;
  transform: rotate(3.686deg);
}
.about-btn {
  display: inline-flex;
  padding: 18px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1.5px solid #86371c;
  color: #86371c;
  font-weight: 600;
  background: #fff;
}
.about-btn:hover {
  background: #86371c;
  color: #fff;
  font-weight: 600;
}
.about-img-pattern {
  width: 500px;
  height: 495px;
  border-radius: 500px 500px 30px 30px;
  border: 2px solid rgb(199, 198, 198);
  position: relative;
}
.about-img-pattern img {
  position: absolute;
  right: 3%;
  bottom: 2%;
}
/* .about-img {
  position: absolute;
  top: 257%;
  right: 18%;
} */
.svg-last {
  position: absolute;
  top: 1048px;
  right: 0;
}
/* menu-area starts*/
.menu-area {
  margin-top: 150px;
}
.menu-wrap {
  width: 640px;
  height: 135px;
  border: 1px solid #86371c;
  border-radius: 20px;
  margin: 20px 0;
  position: relative;
}
.menu-img {
  display: inline-block;
  border: 2px dashed black;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  left: 4%;
  top: 21%;
}
.menu-price h3 {
  display: inline-block;
  display: inline-flex;
  height: 55px;
  width: 56px;
  background: #86371c;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-price h4 {
  font-weight: 600;
  font-size: 28px;
  display: inline-block;
  display: inline-flex;
  height: 55px;
  width: 56px;
  background: rgb(171, 170, 170);
  color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-price {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px dashed black;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
.menu-btn button {
  background: #fff;
  padding: 18px 30px;
  gap: 10px;
  border-radius: 12px;
  border: 1.5px solid #86371c;
  color: #86371c;
  font-weight: 700;
}
.menu-btn button:hover {
  color: #fff;
  background: #86371c;
}
/* new-recipes */
.recipes-area {
  background: #fffaf2;
  margin-top: 100px;
  padding: 80px 0;
}
.btn-carousel {
  display: inline-block;
  height: 57px;
  width: 57px;
  border: 2px solid #270a05;
  border-radius: 50%;
  text-align: center;
}
.btn-carousel i {
  padding-top: 8px;
  color: #270a05;
}
.carousel a:hover {
  transform: scale(1.2);
}
/* showcase-area starts */
.showcase-area {
  margin: 100px 0;
}
.showcase-menu {
  display: flex;
  justify-content: center;
}
.showcase-menu ul li {
  display: inline-flex;
  align-self: center;
  padding: 0 30px;
}
.showcase-menu ul li a {
  padding: 4px 7px;
  border: 1px solid transparent;
}
.showcase-menu ul li a:hover {
  border-radius: 50px;
  border: 1px solid #86371c;
  background: rgba(134, 55, 28, 0.03);
  color: #86371c;
}
/* footer-area starts */
.footer-area {
  background-image: url(/Assets/Image/fBackground.png);
}
.footer-logo {
  padding-top: 20px;
}
.footer-menu ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-menu a {
  color: #fff;
  font-weight: 600;
  padding: 28px;
}
.footer-icon {
  padding-top: 26px;
}
